a {
    &.arrow-left {
        color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity));
        text-decoration: none;
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;

        i {
            display: inline-block;
            font-style: normal;
            position: relative;

            &.arrow {
                width: 0.6em;
                height: 0.6em;
                border-right: 0.2em solid black;
                border-top: 0.2em solid black;
                transform: rotate(225deg);
            }
        }
    }
}